<link rel="stylesheet" href="login.component.css">

<section class="body">
        <form action="conteiner">
             <div class="conteiner">
                <h1 class="titulo">LOGIN</h1>
                <p class="cor">Faça login para prosseguir</p>

                <section class="input-box">
                    <label class="nome" for="email">Email:</label>
                    <input type="text" name="email" placeholder="Digite seu email">
                </section>

                <section class="input-box">
                <label class="nome" for="senha">Senha:</label>
                <input type="password" name="password" placeholder="Digite sua senha">
                </section>

                <section class="lembrar-me">
                    <div class="lembrar-me">
                        <input type="checkbox" name="lembrar" id="lembrar">
                        <label for="lembrar-me">Lembrar-me</label>
                    </div>

                    <button (click)="navegar()" class="login">
                        LOGIN
                    </button>
                    <button class="criar" type="submit">
                        CRIAR CONTA
                    </button>

                    <a class="esqueceu-senha" href="#">
                        <h5>Esqueceu sua senha?</h5>
                    </a>
                </section>
            </div>
        </form>
</section>