*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-content: flex-start;  
}
.body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    background-color: #c67c63;
    align-content: flex-start;
}
img{
    width: 5%;
    height: 50vh;  
    margin-bottom: 50px;
}

.conteiner{
    box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 350px;
    height: 400px;
    text-align: center;
    border-radius: 16px;
    border: solid 5px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    
}
.titulo{
    margin-bottom: 16px;
    color: #9f3a1d;
}
.cor{
    color: #9f3a1d;
}
.lembrar-me{
    color: #9f3a1d;
}
p{
    margin-bottom: 8px;
}
.input-box{
    width: 100%;
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    
}
.login{
    width: 70%;
    margin-top: 24px;
    padding: 10px 3px;
    background-color: #ebd8cd;
    border: none;
    border-radius: 99px;
    color: #9f3a1d;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    outline: transparent 3px solid;
    transition: 0.4s;
}
.criar{
    width: 70%;
    margin-top: 10px;
    padding: 10px 0;
    background-color: #ebd8cd;
    border: none;
    border-radius: 99px;
    color: #9f3a1d;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    outline: transparent 3px solid; 
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    color: #ebd8cd;
    background-color: #9f3a1d;
}

.esqueceu-senha, a{
    text-decoration: none;
    color: #9f3a1d;
    padding-top: 10vh;
}
.input-box input{
    width: 100%;
    padding: 10px 16px 10px 38px;
    border-radius: 99px;
    border: solid 3px transparent;
    background: rgb(255, 255, 255, 0.1);
    outline: none;
    caret-color: white;
    color: white;
    font-weight: 500;
    transition: 0.25s;
    background-color: #ebd8cd;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}
.asa{
    width: 25vw;
    align-items: center;
    flex-direction: column;
    align-items: center;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.6rem);
    }
    100%{
        transform: translateXY(0);
    }
}
h5{
    padding-top: 10px;
}

.nome{
    padding-right: 225px;
    color: #9f3a1d;
}