<link rel="stylesheet" href="pagina-principal.component.css">

<section class="body">
    <header>
        <section class="navbar">
            <div class="menu-icon">
                <a href="#"><img src="logo.png" alt="logo" class="icon-1"></a>
                <a href="#"><img src="menu.png" alt="menu" class="icon"></a>
                <a href="#"><img src="heart.png" alt="favoritos" class="icon"></a>
            </div>
                <input type="text" class="search-bar" placeholder="Pesquisar">
            <div class="menu-icon">
                <a href="#"><img src="perfil.png" alt="perfil" class="icon"></a>
                <a href="#"><img src="cart.png" alt="cart" class="icon"></a>
            </div>
        </section>
        <p class="frete">
            FRETE GRÁTIS A PARTIR DE R$ 199 NORTE E NORDESTE E DEMAIS REGIÕES R$ 249
        </p>
    </header>

    <section class="banner">
        <img src="modelo-1.jpeg" alt="MODELO" class="modelo-banner">
        <div class="banner-text">
            <h2 class="coleção">LUXE</h2>
            <button class="btn-conferir">CONFERIR</button>
        </div>
    </section>

    <div class="produto-detalhe">
        <h2>Confira!</h2>
        <h2>Coleção Luxe</h2>
        <p class="ver-tudo"><a href="">VER TUDO</a></p>
        <div class="item">
            <img src="modelo-2.png" alt="Vestido Melissa" class="img-2">
            <div class="item-detalhe">
                <p class="justificar">
                    Descubra a Coleção Luxe, onde a sofisticação encontra a mordenidade. 
                Cada peça dessa coleção é uma expressão de elegância atemporal e refinamento 
                absoluto. 
                Combinamos tecidos premium e cortes impecáveis, Luxe é a escolha perfeita para 
                quem busca destacar-se com estilo e confiança.
                </p>
                <p><strong>Vestido Melissa</strong> <br>R$ 129,99 <br> ou 10x de 12,99</p>
                <button class="btn-detalhes">Detalhes</button>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>
                <strong>
                    &copy; 2024 Meu Site. Todos os direitos reservados as Gemeas Siamesas.
                    <a href="" class="footer-link">Trabalhe Conosco</a>
                </strong>
            </p>
        </div>
    </footer>
</section>